In [1]:
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [2]:
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))

In [3]:
x = Gizmo()

Gizmo id: 132379820744832

In [4]:
y = Gizmo() * 10

Gizmo id: 132379820752704

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [5]:
charles  = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles

In [6]:
lewis is charles

True

In [7]:
id(charles), id(lewis)

(132379606717568, 132379606717568)

In [8]:
lewis['balance'] = 950 # lewis에 항목을 추가하는 것은 charles에 항목을 추가하는 것과 동일
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [9]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [10]:
alex is charles

False

In [11]:
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [12]:
id(t1[-1])

132379824508096

In [13]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 132379824508096)

In [14]:
t1 == t2

False

In [15]:
l1 = [3, [55,44], (7,8,9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [16]:
l2 == l1

True

In [17]:
l2 is l1

False

In [18]:
l1 = [3, [66,55,44], (7,8,9)]
l2 = list(l1)

In [19]:
l1.append(100)

In [20]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [21]:
l2[1] += [33,22]

In [23]:
l2[2] += (10,11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11, 10, 11)]

In [24]:
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [25]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(132379820743008, 132379821341712, 132379821332208)

In [26]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [27]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(132379601772288, 132379601772288, 132379824515072)

In [28]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [29]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [30]:
def f(a,b):
    a += b
    return a

In [31]:
x = 1
y = 2
f(x,y), (x, y)

(3, (1, 2))

In [32]:
a = [1,2]
b = [3,4]
f(a,b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [33]:
t = (10,20)
u = (30, 40)
f(t,u), (t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [35]:
class HauntedBus:
    """유령 승객이 출몰하는 버스 모델"""

    def __init__(self, passengers=[]):
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [36]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [37]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [38]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [39]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [40]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [41]:
bus2.passengers is bus3.passengers

True

In [42]:
bus1.passengers

['Bill', 'Charlie']

In [43]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [44]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [45]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers # 사본 생성이 아니라 인수를 별명으로 사용

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [46]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [47]:
class TwilightBus:
    """승객이 사라지게 만드는 버스 모델"""

    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

In [48]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [59]:
import weakref
s1 = {1,2,3}
s2 = s1

def bye():
    print('Gone with the wind...')

In [60]:
ender = weakref.finalize(s1, bye)
ender.alive

True

In [61]:
del s1
ender.alive

True

In [62]:
s2 = 'spam'

Gone with the wind...

In [63]:
ender.alive

False